<div *ngIf="isLoading" class="fixed top-0 left-0 z-50 w-screen h-screen flex items-center justify-center" style="background: rgba(0, 0, 0, 0.3);">
   <div class="bg-white border py-2 px-5 rounded-lg flex items-center flex-col">
     <div class="loader-dots block relative w-20 h-5 mt-2">
       <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
       <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
       <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
       <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
     </div>
     <div class="text-gray-500 text-xs font-light mt-2 text-center">
       {{loadingMsg}}
     </div>
   </div>
   </div>




<div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
    <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
       <div class="flex items-center space-x-4">
          <div class="flex flex-col leading-tight">
             <div class="text-2xl mt-1 flex items-center">
                <span class="text-gray-700 mr-3">My Chat</span>
                
             </div>
            
          </div>
       </div>
       <div class="flex items-center space-x-2">
          <!-- <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
             </svg>
          </button> -->
          <span *ngIf="isConnected">User connected</span>
          <span class="text-green-500" *ngIf="isConnected" >
            <svg width="10" height="10">
               <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
            </svg>
         </span>

         <span *ngIf="!isConnected">User disconnected</span>
          <span class="text-red-500" *ngIf="!isConnected" >
            <svg width="10" height="10">
               <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
            </svg>
         </span>
       </div>
    </div>
    <div id="messages" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch"
    [innerHtml]="messages | safeHtml" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
     
       <!-- <div class="chat-message">
          <div class="flex items-end justify-end">
             <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                <div><span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">Your error message says permission denied, npm global installs must be given root privileges.</span></div>
             </div>
          </div>
       </div> -->
     
      
       <!-- <div class="chat-message">
          <div class="flex items-end">
             <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">I get the same error on Arch Linux (also with sudo)</span></div>
                <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">I also have this issue, Here is what I was doing until now: #1076</span></div>
                <div><span class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">even i am facing</span></div>
             </div>
          </div>
       </div> -->
    </div>
    <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
       <form #chat="ngForm" (ngSubmit)="sent(chat)" autocomplete="off">
       <div class="relative flex">
          
          <input type="text" name="message" ngModel appAutofocus placeholder="Write Something" class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-full py-3">
          <div class="right-0 inset-y-0 sm:flex">
             <button type="submit" class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 transform rotate-90">
                   <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                </svg>
             </button>
          </div>
       </div>
      </form>
    </div>
 </div>
